@import 'reset.scss';

$color1: #4f4f4f;
$color2: #333333;
$color3: #ffffff;
$color4: #696b6a;
$primary-font: 'Space Mono';
$secondary-font: 'Inconsolata';

html {
  font-size: 1.5vw;
}

h1 {
  font-family: $secondary-font;
  font-size: 24px;
  margin: 30px 0 0rem 50px;
}

img {
 width: 30%;

}

.flex {
  display: flex;
}

.fw-bold {
  font-weight: bold;
}

.main {
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  min-width: 90vh;
  width: 100%;
}

.text-container {
  font-family: $primary-font;
  color: $color2;
  margin-left: 7rem;
  width: 30%;
}

h2 {
  font-size: 2rem;
  line-height: 2.2rem;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
  color: $color1;
  margin: 2rem 0 2rem 0;
}

button {
  color:$color3;
  padding: 1.2rem 1.5rem;
  background-color:$color2;
  font-size: 0.8rem;
  margin-top: 20px;
  border: 0;
  cursor: pointer;
  font-family: $primary-font;
}

footer {
  color: $color4;
  font-size: 18px;
  text-align: center;
  width: 100%;
  bottom: 0;
  margin-bottom: 1.5rem;

  a {
    text-decoration: none;
    font-family: $primary-font;
    color: $color4;
  };

  .github-link {
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {

  .main {
    flex-direction: column;

  }

}