$color1: #4f4f4f;
$color2: #333333;
$color3: #FFFFFF;
$primary-font: 'Space Mono';
$font2: 'Inconsolata'; 

h1 {
  font-family: $font2;
  font-size: 24px;
  margin: 3.5rem 0 0 6rem;
}

img {
  width: 45%;
  margin: 4rem 0 0 7rem;
}